.d1j1t1 {
    top:3%;
    left:42%
   }
   .d1j2t1 {
    top:14%;
    left:28%
   }
   .d1j3t1 {
    top:14%;
    left:56%
   }
   .d1j4t1 {
    top:17%;
    left:6%
   }
   .d1j5t1 {
    top:17%;
    left:79%
   }
   .d1j6t1 {
    top:26%;
    left:28%
   }
   .d1j7t1 {
    top:26%;
    left:56%
   }
   .d1j8t1 {
    top:31%;
    left:6%
   }
   .d1j9t1 {
    top:31%;
    left:79%
   }
   .d1j10t1 {
    top:39%;
    left:28%
   }
   .d1j11t1 {
    top:39%;
    left:56%
   }
   .d2j1t1 {
    top:3%;
    left:42%
   }
   .d2j2t1 {
    top:14%;
    left:28%
   }
   .d2j3t1 {
    top:14%;
    left:56%
   }
   .d2j4t1 {
    top:17%;
    left:6%
   }
   .d2j5t1 {
    top:17%;
    left:79%
   }
   .d2j6t1 {
    top:27%;
    left:42%
   }
   .d2j7t1 {
    top:28%;
    left:17%
   }
   .d2j8t1 {
    top:28%;
    left:67%
   }
   .d2j9t1 {
    top:40%;
    left:17%
   }
   .d2j10t1 {
    top:39%;
    left:42%
   }
   .d2j11t1 {
    top:40%;
    left:67%
   }
   .d3j1t1 {
    top:3%;
    left:42%
   }
   .d3j2t1 {
    top:14%;
    left:42%
   }
   .d3j3t1 {
    top:15%;
    left:17%
   }
   .d3j4t1 {
    top:15%;
    left:67%
   }
   .d3j5t1 {
    top:27%;
    left:28%
   }
   .d3j6t1 {
    top:27%;
    left:56%
   }
   .d3j7t1 {
    top:29%;
    left:6%
   }
   .d3j8t1 {
    top:29%;
    left:79%
   }
   .d3j9t1 {
    top:40%;
    left:17%
   }
   .d3j10t1 {
    top:39%;
    left:42%
   }
   .d3j11t1 {
    top:40%;
    left:67%
   }
   .d4j1t1 {
    top:3%;
    left:42%
   }
   .d4j2t1 {
    top:14%;
    left:42%
   }
   .d4j3t1 {
    top:14%;
    left:17%
   }
   .d4j4t1 {
    top:14%;
    left:67%
   }
   .d4j5t1 {
    top:25%;
    left:23%
   }
   .d4j6t1 {
    top:25%;
    left:62%
   }
   .d4j7t1 {
    top:31%;
    left:42%
   }
   .d4j8t1 {
    top:31%;
    left:5%
   }
   .d4j9t1 {
    top:31%;
    left:81%
   }
   .d4j10t1 {
    top:41%;
    left:28%
   }
   .d4j11t1 {
    top:41%;
    left:56%
   }
   .d5j1t1 {
    top:3%;
    left:42%
   }
   .d5j2t1 {
    top:14%;
    left:28%
   }
   .d5j3t1 {
    top:14%;
    left:56%
   }
   .d5j4t1 {
    top:17%;
    left:6%
   }
   .d5j5t1 {
    top:17%;
    left:79%
   }
   .d5j6t1 {
    top:25%;
    left:25%
   }
   .d5j7t1 {
    top:25%;
    left:61%
   }
   .d5j8t1 {
    top:31%;
    left:42%
   }
   .d5j9t1 {
    top:34%;
    left:7%
   }
   .d5j10t1 {
    top:34%;
    left:77%
   }
   .d5j11t1 {
    top:41%;
    left:42%
   }
   .d6j1t1,
   .d21j1t1 {
    top:3%;
    left:42%
   }
   .d6j2t1,
   .d21j2t1 {
    top:13%;
    left:42%
   }
   .d6j3t1,
   .d21j3t1 {
    top:16%;
    left:64%
   }
   .d6j4t1,
   .d21j4t1 {
    top:16%;
    left:22%
   }
   .d6j5t1,
   .d21j5t1 {
    top:21%;
    left:81%
   }
   .d6j6t1,
   .d21j6t1 {
    top:21%;
    left:5%
   }
   .d6j7t1,
   .d21j7t1 {
    top:29%;
    left:28%
   }
   .d6j8t1,
   .d21j8t1 {
    top:29%;
    left:56%
   }
   .d6j9t1,
   .d21j9t1 {
    top:33%;
    left:6%
   }
   .d6j10t1,
   .d21j10t1 {
    top:33%;
    left:79%
   }
   .d6j11t1,
   .d21j11t1 {
    top:41%;
    left:42%
   }
   .d7j1t1,
   .d22j1t1 {
    top:3%;
    left:42%
   }
   .d7j2t1,
   .d22j2t1 {
    top:13%;
    left:42%
   }
   .d7j3t1,
   .d22j3t1 {
    top:16%;
    left:64%
   }
   .d7j4t1,
   .d22j4t1 {
    top:16%;
    left:22%
   }
   .d7j5t1,
   .d22j5t1 {
    top:21%;
    left:81%
   }
   .d7j6t1,
   .d22j6t1 {
    top:21%;
    left:5%
   }
   .d7j7t1,
   .d22j7t1 {
    top:29%;
    left:42%
   }
   .d7j8t1,
   .d22j8t1 {
    top:30%;
    left:17%
   }
   .d7j9t1,
   .d22j9t1 {
    top:30%;
    left:67%
   }
   .d7j10t1,
   .d22j10t1 {
    top:41%;
    left:28%
   }
   .d7j11t1,
   .d22j11t1 {
    top:41%;
    left:56%
   }
   .d8j1t1,
   .d23j1t1 {
    top:3%;
    left:42%
   }
   .d8j2t1,
   .d23j2t1 {
    top:12%;
    left:28%
   }
   .d8j3t1,
   .d23j3t1 {
    top:12%;
    left:56%
   }
   .d8j4t1,
   .d23j4t1 {
    top:17%;
    left:6%
   }
   .d8j5t1,
   .d23j5t1 {
    top:17%;
    left:79%
   }
   .d8j6t1,
   .d23j6t1 {
    top:22%;
    left:42%
   }
   .d8j7t1,
   .d23j7t1 {
    top:27%;
    left:17%
   }
   .d8j8t1,
   .d23j8t1 {
    top:27%;
    left:67%
   }
   .d8j9t1,
   .d23j9t1 {
    top:32%;
    left:42%
   }
   .d8j10t1,
   .d23j10t1 {
    top:41%;
    left:28%
   }
   .d8j11t1,
   .d23j11t1 {
    top:41%;
    left:56%
   }
   .d9j1t1,
   .d24j1t1 {
    top:3%;
    left:42%
   }
   .d9j2t1,
   .d24j2t1 {
    top:14%;
    left:28%
   }
   .d9j3t1,
   .d24j3t1 {
    top:14%;
    left:56%
   }
   .d9j4t1,
   .d24j4t1 {
    top:17%;
    left:6%
   }
   .d9j5t1,
   .d24j5t1 {
    top:17%;
    left:79%
   }
   .d9j6t1,
   .d24j6t1 {
    top:26%;
    left:42%
   }
   .d9j7t1,
   .d24j7t1 {
    top:28%;
    left:64%
   }
   .d9j8t1,
   .d24j8t1 {
    top:28%;
    left:22%
   }
   .d9j9t1,
   .d24j9t1 {
    top:33%;
    left:81%
   }
   .d9j10t1,
   .d24j10t1 {
    top:33%;
    left:5%
   }
   .d9j11t1,
   .d24j11t1 {
    top:41%;
    left:42%
   }
   .d10j1t1,
   .d25j1t1 {
    top:3%;
    left:42%
   }
   .d10j2t1,
   .d25j2t1 {
    top:14%;
    left:28%
   }
   .d10j3t1,
   .d25j3t1 {
    top:14%;
    left:56%
   }
   .d10j4t1,
   .d25j4t1 {
    top:17%;
    left:6%
   }
   .d10j5t1,
   .d25j5t1 {
    top:17%;
    left:79%
   }
   .d10j6t1,
   .d25j6t1 {
    top:26%;
    left:28%
   }
   .d10j7t1,
   .d25j7t1 {
    top:26%;
    left:56%
   }
   .d10j8t1,
   .d25j8t1 {
    top:38%;
    left:28%
   }
   .d10j9t1,
   .d25j9t1 {
    top:38%;
    left:56%
   }
   .d10j10t1,
   .d25j10t1 {
    top:40%;
    left:6%
   }
   .d10j11t1,
   .d25j11t1 {
    top:40%;
    left:79%
   }
   .d11j1t1,
   .d26j1t1 {
    top:3%;
    left:42%
   }
   .d11j2t1,
   .d26j2t1 {
    top:13%;
    left:42%
   }
   .d11j3t1,
   .d26j3t1 {
    top:13%;
    left:17%
   }
   .d11j4t1,
   .d26j4t1 {
    top:13%;
    left:67%
   }
   .d11j5t1,
   .d26j5t1 {
    top:23%;
    left:28%
   }
   .d11j6t1,
   .d26j6t1 {
    top:23%;
    left:56%
   }
   .d11j7t1,
   .d26j7t1 {
    top:27%;
    left:81%
   }
   .d11j8t1,
   .d26j8t1 {
    top:27%;
    left:5%
   }
   .d11j9t1,
   .d26j9t1 {
    top:34%;
    left:63%
   }
   .d11j10t1,
   .d26j10t1 {
    top:34%;
    left:23%
   }
   .d11j11t1,
   .d26j11t1 {
    top:41%;
    left:42%
   }
   .d12j1t1,
   .d27j1t1 {
    top:3%;
    left:42%
   }
   .d12j2t1,
   .d27j2t1 {
    top:14%;
    left:42%
   }
   .d12j3t1,
   .d27j3t1 {
    top:15%;
    left:17%
   }
   .d12j4t1,
   .d27j4t1 {
    top:15%;
    left:67%
   }
   .d12j5t1,
   .d27j5t1 {
    top:26%;
    left:42%
   }
   .d12j6t1,
   .d27j6t1 {
    top:28%;
    left:17%
   }
   .d12j7t1,
   .d27j7t1 {
    top:28%;
    left:67%
   }
   .d12j8t1,
   .d27j8t1 {
    top:39%;
    left:29%
   }
   .d12j9t1,
   .d27j9t1 {
    top:39%;
    left:55%
   }
   .d12j10t1,
   .d27j10t1 {
    top:40%;
    left:6%
   }
   .d12j11t1,
   .d27j11t1 {
    top:40%;
    left:79%
   }
   .d17j1t1,
   .d32j1t1 {
    top:3%;
    left:42%
   }
   .d17j2t1,
   .d32j2t1 {
    top:13%;
    left:42%
   }
   .d17j3t1,
   .d32j3t1 {
    top:16%;
    left:64%
   }
   .d17j4t1,
   .d32j4t1 {
    top:16%;
    left:22%
   }
   .d17j5t1,
   .d32j5t1 {
    top:21%;
    left:81%
   }
   .d17j6t1,
   .d32j6t1 {
    top:21%;
    left:5%
   }
   .d17j7t1,
   .d32j7t1 {
    top:33%;
    left:42%
   }
   .d17j8t1,
   .d32j8t1 {
    top:30%;
    left:17%
   }
   .d17j9t1,
   .d32j9t1 {
    top:30%;
    left:67%
   }
   .d17j10t1,
   .d32j10t1 {
    top:41%;
    left:28%
   }
   .d17j11t1,
   .d32j11t1 {
    top:41%;
    left:56%
   }
   .d18j1t1,
   .d33j1t1 {
    top:3%;
    left:42%
   }
   .d18j2t1,
   .d33j2t1 {
    top:13%;
    left:42%
   }
   .d18j3t1,
   .d33j3t1 {
    top:16%;
    left:64%
   }
   .d18j4t1,
   .d33j4t1 {
    top:16%;
    left:22%
   }
   .d18j5t1,
   .d33j5t1 {
    top:21%;
    left:81%
   }
   .d18j6t1,
   .d33j6t1 {
    top:21%;
    left:5%
   }
   .d18j7t1,
   .d33j7t1 {
    top:30%;
    left:28%
   }
   .d18j8t1,
   .d33j8t1 {
    top:30%;
    left:56%
   }
   .d18j9t1,
   .d33j9t1 {
    top:41%;
    left:42%
   }
   .d18j10t1,
   .d33j10t1 {
    top:41%;
    left:17%
   }
   .d18j11t1,
   .d33j11t1 {
    top:41%;
    left:69%
   }
   .d19j1t1,
   .d34j1t1 {
    top:3%;
    left:42%
   }
   .d19j2t1,
   .d34j2t1 {
    top:14%;
    left:28%
   }
   .d19j3t1,
   .d34j3t1 {
    top:14%;
    left:56%
   }
   .d19j4t1,
   .d34j4t1 {
    top:17%;
    left:6%
   }
   .d19j5t1,
   .d34j5t1 {
    top:17%;
    left:79%
   }
   .d19j6t1,
   .d34j6t1 {
    top:26%;
    left:42%
   }
   .d19j7t1,
   .d34j7t1 {
    top:33%;
    left:64%
   }
   .d19j8t1,
   .d34j8t1 {
    top:33%;
    left:22%
   }
   .d19j9t1,
   .d34j9t1 {
    top:28%;
    left:81%
   }
   .d19j10t1,
   .d34j10t1 {
    top:28%;
    left:5%
   }
   .d19j11t1,
   .d34j11t1 {
    top:41%;
    left:42%
   }
   .d20j1t1,
   .d35j1t1 {
    top:3%;
    left:42%
   }
   .d20j2t1,
   .d35j2t1 {
    top:13%;
    left:42%
   }
   .d20j3t1,
   .d35j3t1 {
    top:13%;
    left:17%
   }
   .d20j4t1,
   .d35j4t1 {
    top:13%;
    left:67%
   }
   .d20j5t1,
   .d35j5t1 {
    top:23%;
    left:42%
   }
   .d20j6t1,
   .d35j6t1 {
    top:23%;
    left:23%
   }
   .d20j7t1,
   .d35j7t1 {
    top:23%;
    left:61%
   }
   .d20j8t1,
   .d35j8t1 {
    top:23%;
    left:4%
   }
   .d20j9t1,
   .d35j9t1 {
    top:23%;
    left:80%
   }
   .d20j10t1,
   .d35j10t1 {
    top:33%;
    left:42%
   }
   .d20j11t1,
   .d35j11t1 {
    top:42%;
    left:42%
   }
   .d36j1t1 {
    top:3%;
    left:42%
   }
   .d36j2t1 {
    top:13%;
    left:42%
   }
   .d36j3t1 {
    top:13%;
    left:13%
   }
   .d36j4t1 {
    top:13%;
    left:71%
   }
   .d36j5t1 {
    top:23%;
    left:42%
   }
   .d36j6t1 {
    top:23%;
    left:6%
   }
   .d36j7t1 {
    top:23%;
    left:79%
   }
   .d36j8t1 {
    top:32%;
    left:42%
   }
   .d36j9t1 {
    top:42%;
    left:42%
   }
   .d36j10t1 {
    top:40%;
    left:13%
   }
   .d36j11t1 {
    top:40%;
    left:71%
   }
   .d37j1t1 {
    top:3%;
    left:42%
   }
   .d37j2t1 {
    top:13%;
    left:42%
   }
   .d37j3t1 {
    top:13%;
    left:17%
   }
   .d37j4t1 {
    top:13%;
    left:67%
   }
   .d37j5t1 {
    top:24%;
    left:42%
   }
   .d37j6t1 {
    top:27%;
    left:24%
   }
   .d37j7t1 {
    top:27%;
    left:62%
   }
   .d37j8t1 {
    top:32%;
    left:5%
   }
   .d37j9t1 {
    top:32%;
    left:81%
   }
   .d37j10t1 {
    top:42%;
    left:22%
   }
   .d37j11t1 {
    top:42%;
    left:62%
   }
   .d38j1t1 {
    top:3%;
    left:42%
   }
   .d38j2t1 {
    top:13%;
    left:42%
   }
   .d38j3t1 {
    top:13%;
    left:13%
   }
   .d38j4t1 {
    top:13%;
    left:71%
   }
   .d38j5t1 {
    top:23%;
    left:42%
   }
   .d38j6t1 {
    top:23%;
    left:6%
   }
   .d38j7t1 {
    top:23%;
    left:79%
   }
   .d38j8t1 {
    top:32%;
    left:22%
   }
   .d38j9t1 {
    top:32%;
    left:62%
   }
   .d38j10t1 {
    top:42%;
    left:22%
   }
   .d38j11t1 {
    top:42%;
    left:62%
   }
   .d39j1t1 {
    top:3%;
    left:42%
   }
   .d39j2t1 {
    top:14%;
    left:28%
   }
   .d39j3t1 {
    top:14%;
    left:56%
   }
   .d39j4t1 {
    top:17%;
    left:6%
   }
   .d39j5t1 {
    top:17%;
    left:79%
   }
   .d39j6t1 {
    top:30%;
    left:42%
   }
   .d39j7t1 {
    top:27%;
    left:18%
   }
   .d39j8t1 {
    top:27%;
    left:67%
   }
   .d39j9t1 {
    top:42%;
    left:42%
   }
   .d39j10t1 {
    top:40%;
    left:13%
   }
   .d39j11t1 {
    top:40%;
    left:71%
   }
.d1j1t2 {
 bottom:3%;
 right:42%
}
.d1j2t2 {
 bottom:14%;
 right:56%
}
.d1j3t2 {
 bottom:14%;
 right:28%
}
.d1j4t2 {
 bottom:18%;
 right:79%
}
.d1j5t2 {
 bottom:18%;
 right:6%
}
.d1j6t2 {
 bottom:26%;
 right:56%
}
.d1j7t2 {
 bottom:26%;
 right:28%
}
.d1j8t2 {
 bottom:31%;
 right:79%
}
.d1j9t2 {
 bottom:31%;
 right:6%
}
.d1j10t2 {
 bottom:39%;
 right:56%
}
.d1j11t2 {
 bottom:39%;
 right:28%
}
.d2j1t2 {
 bottom:3%;
 right:42%
}
.d2j2t2 {
 bottom:14%;
 right:56%
}
.d2j3t2 {
 bottom:14%;
 right:28%
}
.d2j4t2 {
 bottom:17%;
 right:79%
}
.d2j5t2 {
 bottom:17%;
 right:6%
}
.d2j6t2 {
 bottom:27%;
 right:42%
}
.d2j7t2 {
 bottom:28%;
 right:67%
}
.d2j8t2 {
 bottom:28%;
 right:17%
}
.d2j9t2 {
 bottom:40%;
 right:67%
}
.d2j10t2 {
 bottom:39%;
 right:42%
}
.d2j11t2 {
 bottom:40%;
 right:17%
}
.d3j1t2 {
 bottom:3%;
 right:42%
}
.d3j2t2 {
 bottom:14%;
 right:42%
}
.d3j3t2 {
 bottom:15%;
 right:67%
}
.d3j4t2 {
 bottom:15%;
 right:17%
}
.d3j5t2 {
 bottom:27%;
 right:56%
}
.d3j6t2 {
 bottom:27%;
 right:28%
}
.d3j7t2 {
 bottom:29%;
 right:79%
}
.d3j8t2 {
 bottom:29%;
 right:6%
}
.d3j9t2 {
 bottom:40%;
 right:67%
}
.d3j10t2 {
 bottom:39%;
 right:42%
}
.d3j11t2 {
 bottom:40%;
 right:17%
}
.d4j1t2 {
 bottom:3%;
 right:42%
}
.d4j2t2 {
 bottom:14%;
 right:42%
}
.d4j3t2 {
 bottom:14%;
 right:67%
}
.d4j4t2 {
 bottom:14%;
 right:17%
}
.d4j5t2 {
 bottom:25%;
 right:62%
}
.d4j6t2 {
 bottom:25%;
 right:23%
}
.d4j7t2 {
 bottom:31%;
 right:42%
}
.d4j8t2 {
 bottom:31%;
 right:81%
}
.d4j9t2 {
 bottom:31%;
 right:5%
}
.d4j10t2 {
 bottom:41%;
 right:56%
}
.d4j11t2 {
 bottom:41%;
 right:28%
}
.d5j1t2 {
 bottom:3%;
 right:42%
}
.d5j2t2 {
 bottom:14%;
 right:56%
}
.d5j3t2 {
 bottom:14%;
 right:28%
}
.d5j4t2 {
 bottom:17%;
 right:79%
}
.d5j5t2 {
 bottom:17%;
 right:6%
}
.d5j6t2 {
 bottom:25%;
 right:61%
}
.d5j7t2 {
 bottom:25%;
 right:25%
}
.d5j8t2 {
 bottom:31%;
 right:42%
}
.d5j9t2 {
 bottom:34%;
 right:77%
}
.d5j10t2 {
 bottom:34%;
 right:7%
}
.d5j11t2 {
 bottom:41%;
 right:42%
}
.d6j1t2,
.d21j1t2 {
 bottom:3%;
 right:42%
}
.d6j2t2,
.d21j2t2 {
 bottom:13%;
 right:42%
}
.d6j3t2,
.d21j4t2 {
 bottom:16%;
 right:64%
}
.d6j4t2,
.d21j3t2 {
 bottom:16%;
 right:22%
}
.d6j5t2,
.d21j6t2 {
 bottom:21%;
 right:81%
}
.d6j6t2,
.d21j5t2 {
 bottom:21%;
 right:5%
}
.d6j7t2,
.d21j8t2 {
 bottom:29%;
 right:28%
}
.d6j8t2,
.d21j7t2 {
 bottom:29%;
 right:56%
}
.d6j9t2,
.d21j10t2 {
 bottom:33%;
 right:6%
}
.d6j10t2,
.d21j9t2 {
 bottom:33%;
 right:79%
}
.d6j11t2,
.d21j11t2 {
 bottom:41%;
 right:42%
}
.d7j1t2,
.d22j1t2 {
 bottom:3%;
 right:42%
}
.d7j2t2,
.d22j2t2 {
 bottom:13%;
 right:42%
}
.d7j3t2,
.d22j4t2 {
 bottom:16%;
 right:64%
}
.d7j4t2,
.d22j3t2 {
 bottom:16%;
 right:22%
}
.d7j5t2,
.d22j6t2 {
 bottom:21%;
 right:81%
}
.d7j6t2,
.d22j5t2 {
 bottom:21%;
 right:5%
}
.d7j7t2,
.d22j7t2 {
 bottom:29%;
 right:42%
}
.d7j8t2,
.d22j9t2 {
 bottom:30%;
 right:17%
}
.d7j9t2,
.d22j8t2 {
 bottom:30%;
 right:67%
}
.d7j10t2,
.d22j11t2 {
 bottom:41%;
 right:28%
}
.d7j11t2,
.d22j10t2 {
 bottom:41%;
 right:56%
}
.d8j1t2,
.d23j1t2 {
 bottom:3%;
 right:42%
}
.d8j2t2,
.d23j3t2 {
 bottom:12%;
 right:28%
}
.d8j3t2,
.d23j2t2 {
 bottom:12%;
 right:56%
}
.d8j4t2,
.d23j5t2 {
 bottom:17%;
 right:6%
}
.d8j5t2,
.d23j4t2 {
 bottom:17%;
 right:79%
}
.d8j6t2,
.d23j6t2 {
 bottom:22%;
 right:42%
}
.d8j7t2,
.d23j8t2 {
 bottom:27%;
 right:17%
}
.d8j8t2,
.d23j7t2 {
 bottom:27%;
 right:67%
}
.d8j9t2,
.d23j9t2 {
 bottom:32%;
 right:42%
}
.d8j10t2,
.d23j11t2 {
 bottom:41%;
 right:28%
}
.d8j11t2,
.d23j10t2 {
 bottom:41%;
 right:56%
}
.d9j1t2,
.d24j1t2 {
 bottom:3%;
 right:42%
}
.d9j2t2,
.d24j3t2 {
 bottom:14%;
 right:28%
}
.d9j3t2,
.d24j2t2 {
 bottom:14%;
 right:56%
}
.d9j4t2,
.d24j5t2 {
 bottom:17%;
 right:6%
}
.d9j5t2,
.d24j4t2 {
 bottom:17%;
 right:79%
}
.d9j6t2,
.d24j6t2 {
 bottom:26%;
 right:42%
}
.d9j7t2,
.d24j8t2 {
 bottom:28%;
 right:64%
}
.d9j8t2,
.d24j7t2 {
 bottom:28%;
 right:22%
}
.d9j9t2,
.d24j10t2 {
 bottom:33%;
 right:81%
}
.d9j10t2,
.d24j9t2 {
 bottom:33%;
 right:5%
}
.d9j11t2,
.d24j11t2 {
 bottom:41%;
 right:42%
}
.d10j1t2,
.d25j1t2 {
 bottom:3%;
 right:42%
}
.d10j2t2,
.d25j3t2 {
 bottom:14%;
 right:28%
}
.d10j3t2,
.d25j2t2 {
 bottom:14%;
 right:56%
}
.d10j4t2,
.d25j5t2 {
 bottom:17%;
 right:6%
}
.d10j5t2,
.d25j4t2 {
 bottom:17%;
 right:79%
}
.d10j6t2,
.d25j7t2 {
 bottom:26%;
 right:28%
}
.d10j7t2,
.d25j6t2 {
 bottom:26%;
 right:56%
}
.d10j8t2,
.d25j9t2 {
 bottom:38%;
 right:28%
}
.d10j9t2,
.d25j8t2 {
 bottom:38%;
 right:56%
}
.d10j10t2,
.d25j11t2 {
 bottom:40%;
 right:6%
}
.d10j11t2,
.d25j10t2 {
 bottom:40%;
 right:79%
}
.d11j1t2,
.d26j1t2 {
 bottom:3%;
 right:42%
}
.d11j2t2,
.d26j2t2 {
 bottom:13%;
 right:42%
}
.d11j3t2,
.d26j4t2 {
 bottom:13%;
 right:17%
}
.d11j4t2,
.d26j3t2 {
 bottom:13%;
 right:67%
}
.d11j5t2,
.d26j6t2 {
 bottom:23%;
 right:28%
}
.d11j6t2,
.d26j5t2 {
 bottom:23%;
 right:56%
}
.d11j7t2,
.d26j8t2 {
 bottom:27%;
 right:81%
}
.d11j8t2,
.d26j7t2 {
 bottom:27%;
 right:5%
}
.d11j9t2,
.d26j10t2 {
 bottom:34%;
 right:63%
}
.d11j10t2,
.d26j9t2 {
 bottom:34%;
 right:23%
}
.d11j11t2,
.d26j11t2 {
 bottom:41%;
 right:42%
}
.d12j1t2,
.d27j1t2 {
 bottom:3%;
 right:42%
}
.d12j2t2,
.d27j2t2 {
 bottom:14%;
 right:42%
}
.d12j3t2,
.d27j4t2 {
 bottom:15%;
 right:17%
}
.d12j4t2,
.d27j3t2 {
 bottom:15%;
 right:67%
}
.d12j5t2,
.d27j5t2 {
 bottom:26%;
 right:42%
}
.d12j6t2,
.d27j7t2 {
 bottom:28%;
 right:17%
}
.d12j7t2,
.d27j6t2 {
 bottom:28%;
 right:67%
}
.d12j8t2,
.d27j9t2 {
 bottom:39%;
 right:29%
}
.d12j9t2,
.d27j8t2 {
 bottom:39%;
 right:55%
}
.d12j10t2,
.d27j11t2 {
 bottom:40%;
 right:6%
}
.d12j11t2,
.d27j10t2 {
 bottom:40%;
 right:79%
}
.d17j1t2,
.d32j1t2 {
 bottom:3%;
 right:42%
}
.d17j2t2,
.d32j2t2 {
 bottom:13%;
 right:42%
}
.d17j3t2,
.d32j4t2 {
 bottom:16%;
 right:64%
}
.d17j4t2,
.d32j3t2 {
 bottom:16%;
 right:22%
}
.d17j5t2,
.d32j6t2 {
 bottom:21%;
 right:81%
}
.d17j6t2,
.d32j5t2 {
 bottom:21%;
 right:5%
}
.d17j7t2,
.d32j7t2 {
 bottom:33%;
 right:42%
}
.d17j8t2,
.d32j9t2 {
 bottom:30%;
 right:17%
}
.d17j9t2,
.d32j8t2 {
 bottom:30%;
 right:67%
}
.d17j10t2,
.d32j11t2 {
 bottom:41%;
 right:28%
}
.d17j11t2,
.d32j10t2 {
 bottom:41%;
 right:56%
}
.d18j1t2,
.d33j1t2 {
 bottom:3%;
 right:42%
}
.d18j2t2,
.d33j2t2 {
 bottom:13%;
 right:42%
}
.d18j3t2,
.d33j4t2 {
 bottom:16%;
 right:64%
}
.d18j4t2,
.d33j3t2 {
 bottom:16%;
 right:22%
}
.d18j5t2,
.d33j6t2 {
 bottom:21%;
 right:81%
}
.d18j6t2,
.d33j5t2 {
 bottom:21%;
 right:5%
}
.d18j7t2,
.d33j8t2 {
 bottom:30%;
 right:28%
}
.d18j8t2,
.d33j7t2 {
 bottom:30%;
 right:56%
}
.d18j9t2,
.d33j9t2 {
 bottom:41%;
 right:42%
}
.d18j10t2,
.d33j11t2 {
 bottom:41%;
 right:17%
}
.d18j11t2,
.d33j10t2 {
 bottom:41%;
 right:69%
}
.d19j1t2,
.d34j1t2 {
 bottom:3%;
 right:42%
}
.d19j2t2,
.d34j3t2 {
 bottom:14%;
 right:28%
}
.d19j3t2,
.d34j2t2 {
 bottom:14%;
 right:56%
}
.d19j4t2,
.d34j5t2 {
 bottom:17%;
 right:6%
}
.d19j5t2,
.d34j4t2 {
 bottom:17%;
 right:79%
}
.d19j6t2,
.d34j6t2 {
 bottom:26%;
 right:42%
}
.d19j7t2,
.d34j8t2 {
 bottom:33%;
 right:64%
}
.d19j8t2,
.d34j7t2 {
 bottom:33%;
 right:22%
}
.d19j9t2,
.d34j10t2 {
 bottom:28%;
 right:81%
}
.d19j10t2,
.d34j9t2 {
 bottom:28%;
 right:5%
}
.d19j11t2,
.d34j11t2 {
 bottom:41%;
 right:42%
}
.d20j1t2,
.d35j1t2 {
 bottom:3%;
 right:42%
}
.d20j2t2,
.d35j2t2 {
 bottom:13%;
 right:42%
}
.d20j3t2,
.d35j4t2 {
 bottom:13%;
 right:17%
}
.d20j4t2,
.d35j3t2 {
 bottom:13%;
 right:67%
}
.d20j5t2,
.d35j5t2 {
 bottom:23%;
 right:42%
}
.d20j6t2,
.d35j7t2 {
 bottom:23%;
 right:23%
}
.d20j7t2,
.d35j6t2 {
 bottom:23%;
 right:61%
}
.d20j8t2,
.d35j9t2 {
 bottom:23%;
 right:4%
}
.d20j9t2,
.d35j8t2 {
 bottom:23%;
 right:80%
}
.d20j10t2,
.d35j10t2 {
 bottom:32.3%;
 right:42%
}
.d20j11t2,
.d35j11t2 {
 bottom:41%;
 right:42%
}
.d36j1t2 {
 bottom:3%;
 right:42%
}
.d36j2t2 {
 bottom:13%;
 right:42%
}
.d36j4t2 {
 bottom:13%;
 right:13%
}
.d36j3t2 {
 bottom:13%;
 right:71%
}
.d36j6t2 {
 bottom:23%;
 right:79%
}
.d36j5t2 {
 bottom:23%;
 right:42%
}
.d36j7t2 {
 bottom:23%;
 right:6%
}
.d36j8t2 {
 bottom:32%;
 right:42%
}
.d36j9t2 {
 bottom:42%;
 right:42%
}
.d36j11t2 {
 bottom:40%;
 right:13%
}
.d36j10t2 {
 bottom:40%;
 right:71%
}
.d37j1t2 {
 bottom:3%;
 right:42%
}
.d37j2t2 {
 bottom:13%;
 right:42%
}
.d37j4t2 {
 bottom:13%;
 right:17%
}
.d37j3t2 {
 bottom:13%;
 right:67%
}
.d37j5t2 {
 bottom:24%;
 right:42%
}
.d37j7t2 {
 bottom:27%;
 right:24%
}
.d37j6t2 {
 bottom:27%;
 right:62%
}
.d37j9t2 {
 bottom:32%;
 right:5%
}
.d37j8t2 {
 bottom:32%;
 right:81%
}
.d37j11t2 {
 bottom:42%;
 right:22%
}
.d37j10t2 {
 bottom:42%;
 right:62%
}
.d38j1t2 {
 bottom:3%;
 right:42%
}
.d38j2t2 {
 bottom:13%;
 right:42%
}
.d38j4t2 {
 bottom:13%;
 right:13%
}
.d38j3t2 {
 bottom:13%;
 right:71%
}
.d38j5t2 {
 bottom:23%;
 right:42%
}
.d38j7t2 {
 bottom:23%;
 right:6%
}
.d38j6t2 {
 bottom:23%;
 right:79%
}
.d38j9t2 {
 bottom:32%;
 right:22%
}
.d38j8t2 {
 bottom:32%;
 right:62%
}
.d38j11t2 {
 bottom:42%;
 right:22%
}
.d38j10t2 {
 bottom:42%;
 right:62%
}
.d39j1t2 {
 bottom:3%;
 right:42%
}
.d39j3t2 {
 bottom:14%;
 right:28%
}
.d39j2t2 {
 bottom:14%;
 right:56%
}
.d39j5t2 {
 bottom:17%;
 right:6%
}
.d39j4t2 {
 bottom:17%;
 right:79%
}
.d39j6t2 {
 bottom:30%;
 right:42%
}
.d39j8t2 {
 bottom:27%;
 right:18%
}
.d39j7t2 {
 bottom:27%;
 right:67%
}
.d39j9t2 {
 bottom:42%;
 right:42%
}
.d39j11t2 {
 bottom:40%;
 right:13%
}
.d39j10t2 {
 bottom:40%;
 right:71%
}