*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  width: 100%;
  background-color: #ebebeb;
}

section{
  width: 100%;
}

a{
  text-decoration: none;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.section-container{
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 30px 0;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.loader{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.loader p{
  color: #333333;
  font-size: 15px;
}

.spinner{
  border: 4px solid rgb(0,0,0, .1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left-color: #001c34;
  animation: spin 1s ease infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}


.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url('/public/img/fondo.jpg');
  /* background-repeat: repeat; */
  background-size: cover;
  padding-bottom: 40px;
}

.info-container{
  display: flex;
  align-items: flex-start;
  width: 95%;
  max-width: 1300px;
  gap: 30px;
  background-color: #fff;
  padding: 20px;
}

.tabla-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
  border-radius: 3px;
}

.tabla-home h3{
  width: 90%;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
}

.resume-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding-top: 25px;
}

.page-header{
  width: 100%;
  padding: 40px 0;
  background-color: #001c34;
  color: #fff;
  display: flex;
  justify-content: center;
  background-image: url('/public/img/fondo2.jpg');
}

.page-header h1{
  width: 95%;
  max-width: 1300px;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

.group-container{
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 0;
}

.group-container h3{
  width: 90%;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
}

.tournament-data-container{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
}

.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 13px;
}

thead, tbody, tr{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

tbody{
  flex-direction: column
}

thead th,
tbody td{
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

thead th:nth-child(2),
tbody td:nth-child(2){
  width: 44%;
  text-align: left;
  justify-content: flex-start;
}

tr{
  height: 50px;
  border-bottom: 1px solid #eee;
}

tbody td:nth-child(2){
  gap: 5px;
}

.table-img-container{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 50%;
  margin-right: 7px;
}

.table-current-teams{
  background-color: #001c34;
  color: #fff;
}

.tabla-forma{
  background-color: #001c34;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
}

.tabla-forma-container{
  width: 15%;
}

.forma-V{
  background-color: #00985f;
}

.forma-E{
  background-color: #777;
}

.forma-D{
  background-color: #d81920;
}

.fulltable-button{
  border: none;
  color: #001c34;
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
  transition: all .3s;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 14px;
}

.fulltable-button:hover{
  border-bottom: 2px solid #2de0ff;
  cursor: pointer;
}


.dia-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.dia-container .dia{
  width: 85%;
  padding: 10px;
  text-align: center;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}

.partido-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 14px;
  width: 95%;
  border-bottom: 1px solid #f5f5f5;
  color: #333
}

.partido-container:hover{
  opacity: .5;
}

.fixture-container{
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.fixture-col{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partido-container .equipo,
.partido-info .partido-equipo{
  display: flex;
  align-items: center;
  width: 40%;
  text-transform: uppercase;
}

.partido-container .local{
  justify-content: flex-end;
  text-align: end
}

.partido-container .resultado-container{
  width: 20%;
  max-width: 50px;
  text-align: center;
}

.partido-container img{
  margin: 0px 10px;
}

.resultado-container{
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.resultado{
  background-color: #001c34;
  color: #fff;
  padding: 5px;
  min-width: 40px;
  text-align: center;
}

.resultado-live{
  background-color: #2de0ff;
  color: #001c34;
}

.hora{
  color: #989898;
  font-weight: 400;
  border: 1px solid #ccc;
  padding: 5px;
}

.partido-container .live{
  color: #001c34;
  font-weight: 500;
  padding: 5px 0;
}

.resultado-container .final{
  color: #989898
}


.partido-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 20px 0;
}

.partido-info{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partido-info h2{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #001c34;
}

.partido-info .equipos-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #333;
  font-size: 15px;
  padding: 25px 0;
  border-bottom: 1px solid #eee
}

.partido-info .partido-equipo img{
  margin-bottom: 10px;
}

.partido-info .partido-equipo{
  flex-direction: column;
  max-width: 250px;
  text-align: center;
}

.partido-resultado{
  width: 24%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partido-info .resultado{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.partido-info .resultado-tiempo{
  font-size: 15px;
  text-transform: capitalize;
}

.partido-info .live{
  color: #00985f;
  font-weight: 500
}

.partido-nav{
  background-color: #001c34;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.active{
  color: #2de0ff;
  border-bottom: 3px solid #2de0ff;
}

.partido-nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  max-width: 1300px;
}

.partido-nav ul li{
  margin: 0 10px;
  padding: 20px 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-bottom: 3px solid #001c34;
}

.evento-img{
  position: relative;
  width: 15px;
  height: 15px;
}

.flaticon-goal{
  top: 25px;
  left: 18px;
}

.flaticon-live-5,
.flaticon-live-4,
.flaticon-live-3{
  border: none;
  left: 18px;
}

.video-page-container{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001c34;
  color: #fff;
  width: 100%;
  min-height: 80vh;
}

.video-page-container iframe{
  margin: 30px 0;
}


@media (max-width: 860px){
  .info-container{
    flex-direction: column;
  }
  .tournament-data-container{
    width: 100%;
  }
  .tabla-forma-container{
    display: none;
  }
}

@media (max-width: 720px){
  .resume-container{
    flex-direction: column;
  }

  .col{
    width: 100%
  }

  .tabla-home{
    order: -1;
  }
}

@media (max-width: 560px){
  .App{
    margin-top: 60px;
  }
}